@import "../../components/StoreHeader/store-header";
@import "../../components/StoreCards/store-cards";
@import "../../components/StoreTabMenu/store-tab-menu";

.store {
     height: calc(100vh - 100px);
     overflow-x: none;
     overflow-y: auto;
     padding-right: 9px;
     &::-webkit-scrollbar {
          width: 6px;
     }
     &::-webkit-scrollbar-thumb {
          background-color: rgba(#2e3456, 30%);
          border-radius: 10px;
     }
}
